@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

$dark: #17183b;
$grey: #e7ecef;
$red: #e14b4b;
$green: #3aa39f;
$nav-height: 7.5vh;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    font-size: 7px;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Proxima Nova', 'Montserrat', 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
