nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $nav-height;
  position: sticky;
  padding: 2.5rem;
  border-bottom: 2px solid lighten($dark, 80%);
}

.product-page {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20rem;
  grid-row-gap: 0px;

  @media (max-width: 540px) {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column-reverse;
  }
}
